body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    background-color: rgb(15, 15, 15);
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    font-size: 20px;
    text-shadow: -4px 4px 0px black,
    -5px 5px 0px black;
}

a:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 0px;
}

section {
    background-color: white;
    margin: auto;
    width: 100%; 
}

.text-box {
    background-color: red;
    padding: 10px;
    display: inline-block;
}

nav {
    background-color: #444;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0;
}

nav a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

#art-image {

    width: 700px; 
    height: auto;
    border: 2px solid white;
    margin: 20px;
}


footer {
    text-align: center;
    padding: 10px 663px;
    background-color: rgb(15, 15, 15);
    color: #fff;
}

